---
http_interactions:
- request:
    method: get
    uri: https://host.sensor-swarm.com/api/v1/sensor/get/?id=9299
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer odTJWT5dZauMq6TXVgOReyUrJwbN3e
  response:
    status:
      code: 200
      message: OK
    headers:
      Alert-Timeout:
      - '240'
      Time-Zone:
      - Pacific/Honolulu
      Temp-Scale:
      - F
      Gateway-Mode:
      - 'Off'
      Auto-Wifi:
      - 'Off'
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
      Push-Notification:
      - 'On'
    body:
      encoding: ASCII-8BIT
      string: '{"ssid10":"","last_reported_bat_percentage":50,"ssid12":"","firmware":"0600","ssid13":"","ssid15":"","billing_frequency":1,"image":"","ssid11":"","number":"d391be","charts":{"chart_3":{"start_datetime":"2020-12-27T00:00:00-10:00","end_date":"2020-12-31","options":"{\n    \"series\":
        [{\n        \"threshold\": -5.0,\n        \"name\": \"Temperature\",\n        \"negativeColor\":
        \"blue\",\n        \"color\": \"black\",\n        \"type\": \"spline\",\n        \"plotBorderColor\":
        \"#346691\",\n        \"data\": [4.7,  3.3,  2.1,  1.7,  3.0,  4.5,  6.4,  8.3,  7.8,  5.8,  4.2,  7.3,  6.4,  4.2,  5.3,  6.5,  7.9,  9.4,  11.1,  9.8,  8.8,  6.7,  5.2,  3.7,  5.1,  5.4,  4.4,  3.3,  2.5,  1.4,  1.7,  3.2,  5.1,  6.5,  5.1,  3.7,  2.5,  3.1,  4.6,  6.2,  8.2,  6.6,  5.1,  3.8,  2.6,  3.0,  4.6,  10.4,  6.6,  5.0,  3.7,  3.9,  5.1,  6.5,  8.0,  8.7,  7.6,  9.9,  7.9,  5.9,  4.6,  5.6,  6.8,  8.1,  9.6,  10.2,  8.4,  7.3,  5.8,  4.2,  4.1,  8.0,  10.4,  12.6,  13.4,  12.7,  11.9,  10.8,  10.4,  8.8,  7.1,  5.[...]
