---
http_interactions:
- request:
    method: get
    uri: https://host.sensor-swarm.com/api/v1/sensor/get/?id=9299
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer odTJWT5dZauMq6TXVgOReyUrJwbN3e
  response:
    status:
      code: 200
      message: OK
    headers:
      Alert-Timeout:
      - '240'
      Time-Zone:
      - Pacific/Honolulu
      Temp-Scale:
      - F
      Gateway-Mode:
      - 'Off'
      Auto-Wifi:
      - 'Off'
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
      Push-Notification:
      - 'On'
    body:
      encoding: ASCII-8BIT
      string: '{"ssid10":"","last_reported_bat_percentage":50,"ssid12":"","firmware":"0600","ssid13":"","ssid15":"","billing_frequency":1,"image":"","ssid11":"","number":"d391be","charts":{"chart_3":{"start_datetime":"2021-01-01T00:00:00-10:00","end_date":"2021-01-05","options":"{\n    \"series\":
        [{\n        \"threshold\": -5.0,\n        \"name\": \"Temperature\",\n        \"negativeColor\":
        \"blue\",\n        \"color\": \"black\",\n        \"type\": \"spline\",\n        \"plotBorderColor\":
        \"#346691\",\n        \"data\": [-0.4,  0.8,  3.4,  2.7,  1.3,  -0.3,  -0.1,  0.9,  2.3,  3.8,  5.7,  6.6,  4.7,  3.1,  1.4,  -0.2,  -0.1,  0.8,  2.2,  3.7,  5.5,  7.3,  5.5,  3.3,  1.6,  0.1,  -0.2,  -1.0,  -2.0,  -1.3,  2.2,  0.9,  -0.1,  -1.2,  -1.9,  -2.4,  -1.3,  0.0,  1.9,  3.7,  2.1,  0.8,  -0.1,  -1.2,  -2.2,  -1.6,  -0.3,  1.6,  0.7,  -0.7,  -2.0,  -1.8,  -0.6,  0.8,  2.7,  5.2,  3.8,  1.8,  0.2,  -1.3,  -0.5,  0.5,  2.0,  3.6,  5.9,  6.1,  4.1,  2.1,  1.4,  0.4,  2.3,  4.3,  3.1,  1.6,  0.5,  1.7,  3.2,  5.0,  7.8, [...]
