/ This example requires Tailwind CSS v2.0+
.flex.flex-col
  .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
    .inline-block.min-w-full.py-2.align-middle.sm:px-6.lg:px-8
      .overflow-hidden.border-b.border-gray-200.shadow.sm:rounded-lg
        %table.min-w-full.divide-y.divide-gray-200
          %thead.bg-gray-50
            %tr
              %th.px-6.py-3.text-xs.font-medium.tracking-wider.text-left.text-gray-500.uppercase{scope: "col"}
                Name
              %th.px-6.py-3.text-xs.font-medium.tracking-wider.text-left.text-gray-500.uppercase{scope: "col"}
                Title
              %th.px-6.py-3.text-xs.font-medium.tracking-wider.text-left.text-gray-500.uppercase{scope: "col"}
                Email
              %th.px-6.py-3.text-xs.font-medium.tracking-wider.text-left.text-gray-500.uppercase{scope: "col"}
                Role
              %th.relative.px-6.py-3{scope: "col"}
                %span.sr-only Edit
          %tbody
            / Odd row
            %tr.bg-white
              %td.px-6.py-4.text-sm.font-medium.text-gray-900.whitespace-nowrap
                Jane Cooper
              %td.px-6.py-4.text-sm.text-gray-500.whitespace-nowrap
                Regional Paradigm Technician
              %td.px-6.py-4.text-sm.text-gray-500.whitespace-nowrap
                cjane@example.com
              %td.px-6.py-4.text-sm.text-gray-500.whitespace-nowrap
                Admin
              %td.px-6.py-4.text-sm.font-medium.text-right.whitespace-nowrap
                %a.text-indigo-600.hover:text-indigo-900{href: "#"} Edit
            / Even row
            %tr.bg-gray-50
              %td.px-6.py-4.text-sm.font-medium.text-gray-900.whitespace-nowrap
                Cody Fisher
              %td.px-6.py-4.text-sm.text-gray-500.whitespace-nowrap
                Product Directives Officer
              %td.px-6.py-4.text-sm.text-gray-500.whitespace-nowrap
                cody.fisher@example.com
              %td.px-6.py-4.text-sm.text-gray-500.whitespace-nowrap
                Owner
              %td.px-6.py-4.text-sm.font-medium.text-right.whitespace-nowrap
                %a.text-indigo-600.hover:text-indigo-900{href: "#"} Edit
            / More rows...
